<div class="auth-dialog card">
    <h1>Forgot your password?</h1>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="submitForm()">

        <p class="mb-5">Don't worry! We will send you an email with
            the instructions to reset your password.</p>

        <div class="card w-12 flex flex-column gap-5">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                </span>
                <input [(ngModel)]="formData.usermail" required email pInputText name="email" placeholder="Email" />
            </div>
        </div>
        <div class="flex justify-content-center align-items-center login-buttons gap-5 mt-5">
            <p-button [disabled]="forgotPasswordForm.invalid" type="submit" label="Send"
                styleClass="p-button-raised p-button-info"></p-button>
        </div>
    </form>

</div>