<div class="auth-dialog card">
    <h1>Forgot your password?</h1>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="submitForm()">

        <p class="mb-5">Don't worry! We will send you an email with
            instructions to reset your password.</p>

        <div class="card w-12 flex flex-column gap-5">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                </span>
                <input [(ngModel)]="formData.usermail" required email pInputText name="email" placeholder="Registered Email" />
            </div>
        </div>
        <div class="error-message">
            <div *ngIf="errorMessage && forgotPasswordForm.dirty">
                <span class="message">This email is unknown. Check again.</span>
            </div>
        </div> <div class="button flex justify-content-center align-items-center gap-5">
            <p-button [disabled]="forgotPasswordForm.invalid" type="ngSubmit" label="Send"
                styleClass="p-button-raised p-button-info"></p-button>
        </div>
      
        <a routerLink="/auth/login">Back to Login</a>
       

    </form>

</div>