<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText [(ngModel)]="value" />
</span>
<div class="result-area">

    <div *ngFor="let user of users; index as i" class="user-result">
        <div class="left">
            <p-avatar label="{{user.initials}}" pBadge styleClass="mr-5" value="4" size="large"
                [style]="{ 'background-color': '#2A3647', color: '#ffffff' }"></p-avatar>
            <div class="user-info flex gap-4 flex-column justify-content-center">
                <span class="user-name">{{ user.fullName }}</span>
                <span class="user-email">{{ user.email }}</span>
            </div>
        </div>
        <p-button (click)="contactService.addUserAsContact(user.uid)" draggable="false" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    </div>

</div>