<h1>Contacts</h1>
<div *ngIf="isLoading" class="loading-screen">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
</div>
<div *ngIf="!isLoading" class="contacts-area">
    <div *ngIf="contactService.usersContacts.length == 0" class="no-contacts">
        <span>You have no assignable contacts.</span>
        <div class="add-new">
            <span>Add new contacts</span>
            <i (click)="viewService.showSidebar('contacts')" class="pi pi-plus-circle" style="font-size: 1.5rem"></i>
        </div>
    </div>
    <ng-container *ngFor="let character of this.contactService.characters">
        <div class="character">{{ character }}</div>

        <ng-container *ngFor="let contact of contactService.usersContacts">
            <div *ngIf="this.contactService.lastNameMatchesCharacter(contact.lastName, character)" class="contact-entry">
                <div class="left">
                    <p-avatar label="{{contact.initials}}" pBadge styleClass="mr-5" value="4" size="large"
                        [style]="{ 'background-color': '#2A3647', color: '#ffffff' }"></p-avatar>
                    <div class="user-info flex flex-column justify-content-center">
                        <span class="user-name">{{ contact.firstName }} {{ contact.lastName }}</span>
                        <span class="user-email">{{ contact.email }}</span>
                    </div>
                </div>
            </div>
        </ng-container>

    </ng-container>


</div>