    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 400px;
    }

    .no-contacts {
        display: flex;
        gap: 24px;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.6);

        .add-new {
            display: flex;
            gap: 12px;
            cursor: pointer;
        }
    }

    .character {
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .contact-entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        margin-bottom: 24px;

        .contact-content {
            text-wrap: nowrap;

            .user-info {
                gap: 12px;
                width: 250px;
                padding-right: 20px;

                .user-name {
                    font-weight: 700;
                }

                .user-email:hover {
                    opacity: 0.6;

                }
            }
        }
    }

    @media only screen and (max-width: 420px) {
        .contact-entry {
            max-width: 280px;

            .user-info {
                max-width: 200px;
                padding-right: unset;

                .user-email {
                    font-size: 12px;
                }
            }

        }
    }