* {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoAnimation {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: resize-to-corner 2000ms forwards;

    @keyframes resize-to-corner {
        to {
            top: 0px;
            left: 0px;
            transform: scale(0.4);
            
        }
    }

}