* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animated-logo {
    position: absolute;
    height: 300px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: resize-to-corner 1600ms forwards;

    @keyframes resize-to-corner {
        to {
            transform: scale(0.4) translate(-50%, -50%);
            top: 0;
            left: 0;
        }
    }
}