* { position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notification {
    position: absolute;
    text-align: center;
    font-size: 12px;
    padding: 12px;
    z-index: 2;
    top: 25px;
    opacity: 0;
    max-width: 320px;
    max-height: 60px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: white;
    animation: showAndHide 5s forwards;

    @keyframes showAndHide {
        50% {
            display: inline;
            opacity: 1;
        }
    }

}

.animated-logo {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    height: 200px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: resize-to-corner 2500ms forwards;

    @keyframes resize-to-corner {
        40% {
            transform: scale(1.8) translate(-25%, -25%);
            top: 50vh;
            left: 50vw;
        }


        100% {
            transform: scale(0.8);
            top: 0;
            left: 0;
        }
    }
}