<img src="./assets/join-logo.png" class="logo" [class.animated-logo]="animateJoinLogo" alt="join-logo">
<div class="content">
    <div *ngIf="viewService.showSignUpNote" class="notification">
        Your registration was successful.<br>
        Please login to your new account.
    </div>
    <div *ngIf="viewService.showResetPasswordNote" class="notification">
        Check your Inbox for further instructions<br>
        to reset your password.
    </div>
    <router-outlet></router-outlet>
    <div class="legal-links">
        <span class="legal-link" routerLink="auth/privacy-policy">Privacy Policy</span>
        <span> | </span>
        <span class="legal-link" routerLink="auth/legal-notice">Legal Notice</span>
    </div>
</div>