<div class="sidebar-wrapper card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible" class="flex justify-content-center" styleClass="w-5">
        <h3>new Task / Edit task</h3>
        <!-- The content of the <h3> must be context-based -->
        <form [formGroup]="taskForm">

            <label for="title_input">Title:</label>
            <input formControlName="title" type="text" pInputText id="title_input" />

            <label for="description_input">Description (optional):</label>
            <textarea formControlName="description" type="text" pInputText id="description_input"></textarea>

            <label for="assign_input">Assign Users:</label>
            <p-multiSelect [options]="contacts" formControlName="assign" defaultLabel="Select contacts" optionLabel="name" display="chip"
                id="assign_input" styleClass="w-full"></p-multiSelect>

            <label for="dueDate_input">Due Date:</label>
            <p-calendar formControlName="dueDate" id="dueDate_input" [showIcon]="true" dateFormat="dd.mm.yy" styleClass="w-full"></p-calendar>

            <label for="priority_input">Priority:</label>
            <p-selectButton [options]="priorityOptions" [multiple]="false" optionLabel="name" optionValue="value"
                styleClass="w-full"></p-selectButton>
        </form>
    </p-sidebar>
</div>