    label {
        margin: 24px 0px 8px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }

    textarea {
        min-height: 120px;
        resize: vertical;
    }

    form {
        display: flex;
        flex-direction: column;
        min-width: 100%;

        ::ng-deep {
            .p-datepicker td>span {
                width: 20px !important;
                height: 20px !important;
            }
        }

        .charCounter {
            font-size: 12px;
        }
    }