<div pDraggable="" class="task-card">
    <header class="header">
        <h3>{{ task.title }}</h3>
        <i class="pi pi-info-circle"></i>
    </header>
    <div class="flex flex-column">
        <div class="task-description">{{ task.description }}</div>
        <div class="flex justify-content-between"><span>Due Date:</span><span>{{ dueDateAsDateString }}</span></div>
        <span>{{ task.assignedUsers }}</span>
    </div>
    <ng-template class="footer" pTemplate="footer">
        <p-splitButton label="Edit" icon="pi pi-file-edit" [model]="btnItems"></p-splitButton>
    </ng-template>
</div>