.task-card {
    border: 3px solid #ffffff;
    border-radius: 40px;
    padding: 12px;
    width: 100%;
    height: 250px;

    .content-label {
        font-weight: 600;
    }

    i {
        cursor: pointer;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h3 {
            margin-bottom: 12px;
        }
    }

    .task-description {
        overflow-y: auto;
        margin-bottom: 12px;
        min-height: 80px;
    }
}

.to-do {
    border-color: rgb(243, 55, 55);
}

.in-progress {
    border-color: rgb(55, 136, 243);
}

.in-review {
    border-color: rgb(251, 255, 0);
}

.done {
    border-color: rgb(39, 158, 15);
}