<p-card pDraggable [header]="" styleClass="border-solid border-blue-200 border-round-2xl">
    <p-header class="header">
        <div>{{ task.title }}</div>
        <i class="pi pi-info-circle"></i>
    </p-header>
    <p class="flex flex-column">
        <span>{{ task.description }}</span>
        <span>{{ task.dueDate }}</span>
        <span>{{ task.assignedUsers }}</span>
    </p>
    <ng-template class="footer" pTemplate="footer">
        <p-splitButton label="Edit" icon="pi pi-file-edit" [model]="btnItems"></p-splitButton>
    </ng-template>
</p-card>