<div pDraggable [class.pointer]="!deleteDialog" [ngClass]="status" class="task-card">
    <div *ngIf="deleteDialog" class="delete-dialog">
        <span>Are You sure?</span>
        <div class="answer-selection">
            <span (click)="this.projectService.deleteTask(task)">Yes</span>
            <span (click)="toggleDeleteDialog(task)">No</span>
        </div>
    </div>
    <header class="header">
        <h3>{{ task.title }}</h3>
        <div class="header-right">
            <i (click)="openTaskEdit(task)" class="pi pi-file-edit"></i>
            <i (click)="toggleDeleteDialog(task)" class="pi pi-trash"></i>
        </div>
    </header>
    <div class="flex flex-column">
        <div class="task-description">{{ task.description }}</div>
        <div class="due-date-content flex justify-content-between">
            <span class="date-label">Due Date:</span>
            <span>{{ dueDateAsString }}</span>
        </div>
        <span>
            <ng-container *ngFor="let user of task.assignedUsers">
                <p-avatar label="{{user.initials}}" pBadge styleClass="mr-1 mt-3" value="4" size="small"
                    [style]="{ 'background-color': '#e4e2e2', color: '#2A3647' }"></p-avatar>
            </ng-container>
        </span>
    </div>
</div>