<p>{{this.projectService.currentId}}</p>
<div class="board-wrapper">
    <section>
        <h3 class="to-do">To Do</h3>
        <div class="card-wrapper">
            <app-task-card></app-task-card>
        </div>
    </section>
    <section>
        <h3 class="in-progress">In Progress</h3>
        <div class="card-wrapper">
            <app-task-card></app-task-card>
        </div>
    </section>
    <section>
        <h3 class="in-review">In Review</h3>
        <div class="card-wrapper">
            <app-task-card></app-task-card>
        </div>
    </section>
    <section>
        <h3 class="done">Done</h3>
        <div class="card-wrapper">
            <app-task-card></app-task-card>
        </div>
    </section>
</div>