.board-wrapper {
    display: flex;
    height: 100%;
    width: 100%;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        min-width: 300px;
        gap: 24px;

        h3 {
            margin-bottom: unset;
            text-align: center;

            .circle {
                font-size: 8px;
                vertical-align: middle;
                margin-right: 4px;
            }
        }

        .placeholder {
            width: 250px;
            height: 250px;
            border-radius: 25px;
            display: none;
        }

        .card-wrapper {
            width: 90%;
            max-width: 250px;
            border-radius: 25px;
            background-color: transparent;


        }   

        .dragging {
            color: red;
            opacity: 0.4;
        }

    }

    .drop {
        .placeholder {
            border: 2px dashed rgba(0, 0, 0, 0.6);
            display: block;
        }
    }

    .to-do .circle {
        color: #f33737;
    }
    .in-progress .circle {
        color: #3788f3;
    }
    .in-review .circle {
        color: #700985;
    }
    .done .circle {
        color: #2dc40f;
    }
}



@media only screen and (max-width: 620px) {
    .board-wrapper {
        flex-direction: column;

        section {
            width: 100%;

            h3 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 150px;
                border: 2px solid rgba(0, 0, 0, 0.4);
                border-radius: 25px;
                padding: 4px 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }


    }




}