<h1>Summary</h1>
<div class="card-area">
    <div class="card small">
        <span>Tasks in board</span>
    </div>
    <div class="card small^">
        <span>Tasks in progress</span>
    </div>
    <div class="card small">
        <span>Tasks in review</span>
    </div>
    <div class="card large">
        <span>urgent</span>
    </div>
    <div class="card medium">
        <i></i>
        <span>to-do</span>
    </div>
    <div class="card medium">
        <span>done</span>
    </div>
</div>

