<div class="nav-content">
    <i *ngIf="!viewService.fixedNav" (click)="closeNav()" class="close-icon pi pi-times"></i>
    <img routerLink="summary" class="join-logo-white" src="./assets/join-logo-white.png" alt="white-join-logo">
    <div class="navigation-links flex flex-column gap-4">
        <a href="" routerLink="summary">
            <i class="pi pi-map"></i><span>Summary</span> </a>
        <a href="" routerLink="tasks">
            <i class="pi pi-th-large"></i><span>Task Board</span>
        </a>
        <a href="" routerLink="contacts">
            <i class="pi pi-user-edit"></i><span>Contacts</span>
        </a>
    </div>
    <div class="legal-notice">

    </div>
</div>