.nav-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 100vh;
    background-color: #2A3647;
    color: white;
    padding: 12px 0px;

    .join-logo-white {
        max-height: 100%;

        -webkit-user-drag: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.navigation-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 80px;
    width: 100%;

    a {
        position: relative;
        padding-bottom: 8px;

        &:hover {
            font-weight: 600;

        }

        span {
            margin-left: 8px;
        }
    }
}

.legal-notice {
    height: calc(100vh/3);
}

@media only screen and (max-width: 520px) {
    .nav-content {
        padding-left: 12px;
        position: fixed;
        height: 50px;
        z-index: 1;
        height: 80px;
        width: 100vw;
        bottom: 0px;
        flex-direction: unset;

        .join-logo-white {
            max-width: 50px;
            // max-height: 100%;
        }
    }

    .navigation-links {
        max-width: 300px;
        flex-direction: unset;
        justify-content: space-around;
        margin-left: 0px;

        a { 
            min-width: 90px;
            display: flex;
            text-align: center;
            flex-direction: column;

            span {
                margin-left: unset;
            }
        }
    }

    @media only screen and (max-width: 400px) {
        .navigation-links {
            span {
                font-size: 14px;
            }
        }
    }
        
}