.default-view {
    display: flex;
    position: relative;
    height: 100vh;

    .shadow-layer {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .sidebar-nav {
        position: relative;
        display: none;

        div {
            position: absolute;
            inset: 0;
            width: 100%;
            z-index: 2;
            margin-right: unset;

        }
    }

    .nav-visible {
        display: inline;
    }

    .content-area {
        width: 100%;
        padding: 0px 32px;

        .burger {
            font-size: 24px;
            margin-top: 12px;

            &:hover {
                cursor: pointer;
            }
        }

        .header {
            display: flex;
            height: 64px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .outlet-content {
            margin-top: 40px;
        }
    }

    p-avatar {

        &:hover {
            cursor: pointer;
        }
    }
}