<div class="default-view">
    <app-navigation></app-navigation>
    <div class="content-area">
        <div class="header">
            <button (click)="authService.SignOut()">SIGN OUT</button>
            <div class="flex">
                <div class="card flex justify-content-center">
                    <p-dropdown [options]="projects" optionValue="projectId" optionLabel="projectTitle"
                        (onChange)="changeActiveProject()" [(ngModel)]="activeProject" styleClass="w-16rem" placeholder="Select a project" ></p-dropdown>
                </div>
                <p-button draggable="false" (click)="showProjectDialog()" label="New Project" icon="pi pi-plus"
                    styleClass="p-button-secondary"></p-button>
            </div>
            <p-avatar label={{avatarInitials}} styleClass="mr-2" shape="circle" size="large"
                [style]="{ 'background-color': '#64748B', color: '#ffffff'}"></p-avatar>
        </div>
        <p-button class="add-button" (click)="showTaskDialog()" label="New Task" icon="pi pi-plus"
            styleClass="p-button"></p-button>
        <app-project-dialog></app-project-dialog>
        <app-task-dialog></app-task-dialog>
        <div class="outlet-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>