<div class="default-view">
    <div *ngIf="showNav && !this.viewService.fixedNav" (click)="showNav = false" class="shadow-layer"></div>
    <div *ngIf="this.viewService.fixedNav" class="fixed-nav">
        <app-navigation></app-navigation>
    </div>
    <div *ngIf="!this.viewService.fixedNav" [class.nav-visible]="showNav" class="sidebar-nav">
        <div>
            <app-navigation (closeEvent)="hideNav($event)"></app-navigation>
        </div>
    </div>
    <div class="content-area">
        <div class="header">
            <div class="left-area">
                <i *ngIf="!this.viewService.fixedNav" class="burger pi pi-bars" (click)="showNav = true"></i>
                <p-menu (onShow)="toggleDropdown()" (onHide)="toggleDropdown()" #menu
                    [model]="projectService.projectDropdownItems" [popup]="true"></p-menu>
                <h2 (click)="menu.toggle($event)"> <i class="pi pi-angle-down"
                        [class.turn-icon]="showProjectDropdown"></i>
                    {{ projectService.projectTitle }}
                </h2>
               
            </div>

            <div class="avatar-area">
                <p-button    pTooltip="New Project" tooltipPosition="left" draggable="false" (click)="showProjectDialog()" label="{{viewService.newProjectBtnLabel}}"
                icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
                <div *ngIf="showAvatarMenu" class="sign-out-button" (click)="authService.SignOut()">SIGN OUT</div>
                <div class="avatar" (click)="toggleAvatarMenu()">{{ avatarInitials }}</div>
            </div>
        </div>
        <p-button *ngIf="currentRoute !== '/contacts'" class="add-button" (click)="viewService.showSidebar('task')"
            label="Add task" icon="pi pi-plus" styleClass="p-button"></p-button>
        <p-button *ngIf="currentRoute == '/contacts'" class="add-button" (click)="viewService.showSidebar('contacts')"
            label="Add contacts" icon="pi pi-plus" styleClass="p-button"></p-button>
        <app-project-dialog></app-project-dialog>
        <app-sidebar></app-sidebar>
        <div class="outlet-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>