.default-view {
    display: flex;
    position: relative;
    height: 100vh;

    .shadow-layer {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .sidebar-nav {
        position: relative;
        display: none;

        div {
            position: absolute;
            inset: 0;
            width: 100%;
            z-index: 2;
            margin-right: unset;

        }
    }

    .nav-visible {
        display: inline;
    }

    .content-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 32px;
        overflow-y: hidden;


        .add-button {
            position: absolute;
            bottom: 32px;
            left: 32px;
            z-index: 4;
        }

        .header {
            display: flex;
            background-color: white;
            margin: unset;
            height: 80px;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .left-area {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            h2 {
                user-select: none;
                width: 250px;
                text-wrap: nowrap;


                &:hover {
                    cursor: pointer;

                    i {
                        background-color: #475569;
                    }
                }

                i {
                    color: white;
                    background-color: rgb(100, 116, 139);
                    border-radius: 15%;
                    font-size: 20px;
                    animation: turn-down 75ms forwards;

                    @keyframes turn-down {
                        from {
                            transform: rotate(180deg);
                        }

                        to {
                            transform: rotate(0deg);
                        }
                    }

                }

                .turn-icon {
                    animation: turn-up 75ms forwards;

                    @keyframes turn-up {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(180deg);
                        }
                    }
                }

            }

            .burger {
                font-size: 24px;

                &:hover {
                    cursor: pointer;
                }
            }

            .avatar-area {
                user-select: none;
                color: white;
                display: flex;
                align-items: center;
                gap: 4px;
                position: relative;

                .avatar {
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #64748B;
                    height: 48px;
                    width: 48px;
                    text-align: center;

                    &:hover {
                        background-color: #475569;
                        cursor: pointer;
                    }
                }

                .avatar-menu {
                    font-size: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    text-align: right;
                    font-weight: 500;
                    position: absolute;
                    width: 100px;
                    top: 50px;
                    right: 0px;
                    color: rgb(100, 116, 139);
                    height: 100% !important;
                    padding: 4px 0px 4px 0px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    margin-top: 8px;

                    .sign-out {

                        &:hover {
                            font-weight: 600;
                            cursor: pointer;
                        }
                    }

                    .public-switch {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }

                }
            }


        }

        .outlet-content {
            margin-top: 40px;
            height: 100%;
            overflow-y: auto;

        }
    }

    p-avatar {

        &:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 620px) {
    .default-view {
        .content-area {
            padding: 0px 8px;
        }
    }
}

@media only screen and (max-width: 520px) {
    .default-view {
        .content-area {
            height: calc(100% - 90px);


            .add-button {
                position: absolute;
                bottom: 100px;
                left: 12px;
            }

            .header {
                h2 {
                    width: 230px;
                }
            }

        }
    }
}

@media only screen and (max-width: 450px) {
    .default-view {
        .content-area {
            padding: 0px 8px;

            .header {
                h2 {
                    max-width: 180px;
                }
            }
        }

    }

}